*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background: linear-gradient(135deg,#0d0d15,#1a1a2f);
    color:white;
    min-height:100vh;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
    background:rgba(0,0,0,0.6);
    position:sticky;
    top:0;
}

.logo{
    font-size:1.8rem;
    color:#00f5d4;
    font-weight:bold;
}

nav{
    display:flex;
    gap:35px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:1.1rem;
    transition:0.3s;
}

nav a:hover{
    color:#00f5d4;
}

/* HERO */

.hero{
    text-align:center;
    padding:160px 20px;
}

.hero h1{
    font-size:3.5rem;
    margin-bottom:25px;
}

.hero p{
    opacity:0.8;
    max-width:600px;
    margin:auto;
}

/* BUTTONS */

.buttons{
    margin-top:40px;
}

.buttons a{
    display:inline-block;
    padding:14px 30px;
    margin:10px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

.primary{
    background:#00f5d4;
    color:black;
}

.secondary{
    border:2px solid #00f5d4;
    color:#00f5d4;
}

.buttons a:hover{
    transform:scale(1.08);
}